.imgHead{
    height: 210px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2%;
    background-position: center;
}
.imgHead p{
    margin: auto;
    width: 75%;
    margin-top: 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    text-align: center;
}
#logo_L{
    background-image: url('../img/elpaso-logo_glow.png');
}
#titre{
    background-image: url('../img/logo.png');
}

/*style du corp de page*/
.texte{
    font-family: 'Just Another Hand', cursive;
    font-size: 4.5rem;
}
#ardoise{
    padding: 4.5% 0;
    background-position: bottom;
    background-size: cover;
    background-image: url(../img/tableau.png);
    color: white;
}
#descriptif{
padding-left: 2em;
text-align: justify;
padding: 9%;
}
#ardoise span{
    float: right;
    color: yellow;
    padding-right: 10%
}
#ardoise li:before{
    content:"♣";
    padding-right: 2%;
}
li{
    list-style: none;
}
